* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 350px;
  display: flex;
  flex-direction: column;
}

header,
footer {
  position: -webkit-sticky;
  position: sticky;
  background-color: aliceblue;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px 0 #ccc;
}

header {
  top: 0;
}

header>div {
  text-align: center;
}

main {
  flex: 1;
  padding: 24px;
}

form {
  padding: 16px;
  background-color: aliceblue;
  max-width: 750px;
  margin-inline: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px 0;
}

/* 
footer styles 
*/

.love-emoji {
  color: red;
}

.footer-text {
  font-size: .95rem;
}

.red1dev-link {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

a.red1dev-link:hover {
  color: green;
  transition: .3s;
}

.btns {
  margin-top: 24px;
  display: flex;
  gap: 16px;
}

button {
  font-size: .9rem;
  font-weight: bold;
  border: none;
  padding: 11px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  filter: brightness(1.2);
  transition: .3s;
}

button#downloadBtn {
  flex: 1;
  background-color: green;
  color: #fff;
}

button.reset {
  background-color: orangered;
  color: #fff;
}

/* 
input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
*/
